name: build
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - file: cv_en
            lang: en
            compiler: pdflatex
          - file: cv_zh
            lang: zh
            compiler: xelatex
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v4
      
      - name: Compile LaTeX - ${{ matrix.lang }}
        uses: xu-cheng/latex-action@v3
        with:
          root_file: ${{ matrix.file }}.tex
          compiler: ${{ matrix.compiler }}
          args: -interaction=nonstopmode -file-line-error
          latexmk_use_xelatex: ${{ matrix.lang == 'zh' }}
      
      - name: move
        run: mkdir -p github_artifacts && mv ./${{ matrix.file }}.pdf ./github_artifacts/
      
      - name: Upload pdf as artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.file }}.pdf
          path: ./github_artifacts
  
  deploy:
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with:
          path: github_artifacts
      - name: move
        run: mkdir -p github_deploy && mv github_artifacts/*/* github_deploy
      - name: deploy on orphan branch
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./github_deploy
          publish_branch: build
          force_orphan: true
          enable_jekyll: true
  
  copy-index-to-build:
    needs: [deploy]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Copy To Branches Action
        uses: planetoftheweb/copy-to-branches@v1.3
        env:
          key: main
          files: index.html CNAME
